In [1]:
import numpy as np
import pandas as pd
import warnings

In [2]:
warnings.filterwarnings('ignore')

In [3]:
news_df = pd.read_csv("data/general_dataset.csv")

In [4]:
news_df.sample(3)

,Unnamed: 0.1,Unnamed: 0,title,author,published_date,published_date_precision,link,clean_url,excerpt,summary,...,rank,topic,country,language,authors,media,is_opinion,twitter_account,_score,_id
2316,2316,2316,The latest from Iran as protests continue,NaN,2022-10-27 12:27:00,full,https://www.kunr.org/2022-10-27/the-latest-fro...,kunr.org,"In Iran, police clashed with tens of thousands...",Serving Northern Nevada and the Eastern Sierra...,...,113050,news,US,en,NaN,https://www.kunr.org/apple-touch-icon.png,False,@kunrpublicradio,17.358778,b54685597b01d7e3eea18351b39a241c
10672,10672,4622,EEUU condena restricciones a internet en Irán,Voz De América,2022-10-21 18:15:00,timezone unknown,https://www.vozdeamerica.com/a/eeuu-condena-re...,vozdeamerica.com,Estados Unidos respaldó un comunicado de una C...,Estados Unidos se sumó el jueves a una coalici...,...,88529,news,US,es,"Redacción,Voz De América",https://gdb.voanews.com/03990000-0aff-0242-0b5...,False,@voanoticias,13.653052,e8bcda8dbb9a6f6dca78ee18c89ca6da
9410,9410,3360,"Iran protests: Isolation, fear and beatings",Sanya Burgess,2022-10-23 02:01:00,full,https://www.iwradio.co.uk/news/sky-news/iran-p...,iwradio.co.uk,Mina left solitary confinement a few days ago.,Mina left solitary confinement a few days ago....,...,196158,news,GB,en,Sanya Burgess,https://e3.365dm.com/22/10/640x380/skynews-ira...,False,@iwightradio,15.020772,b7b563f2c47225e2fe70789f1854793d

In [5]:
news_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11050 entries, 0 to 11049
Data columns (total 21 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0.1              11050 non-null  int64
 1   Unnamed: 0                11050 non-null  int64
 2   title                     11050 non-null  object
 3   author                    9297 non-null   object
 4   published_date            11050 non-null  object
 5   published_date_precision  11050 non-null  object
 6   link                      11050 non-null  object
 7   clean_url                 11050 non-null  object
 8   excerpt                   10979 non-null  object
 9   summary                   11026 non-null  object
 10  rights                    11007 non-null  object
 11  rank                      11050 non-null  int64
 12  topic                     11050 non-null  object
 13  country                   11050 non-null  object
 14  language                  10907 non-null  object
 15  authors                   9297 non-null   object
 16  media                     10942 non-null  object
 17  is_opinion                11050 non-null  bool
 18  twitter_account           7008 non-null   object
 19  _score                    11050 non-null  float64
 20  _id                       11050 non-null  object
dtypes: bool(1), float64(1), int64(3), object(16)
memory usage: 1.7+ MB

In [6]:
clean_df = news_df[news_df['country'] != 'unknown']

clean_df.drop_duplicates(inplace=True)
clean_df.drop_duplicates(subset=['title'], inplace=True)


clean_df['published_date'] = pd.to_datetime(clean_df['published_date'])

clean_df.drop(['twitter_account', 
                'Unnamed: 0',
                'Unnamed: 0.1',
                'published_date_precision',
                'link',
                'authors',
                'rights'], axis=1, inplace=True)

clean_df['date'] = clean_df['published_date'].dt.date

In [7]:
clean_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3783 entries, 0 to 11045
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           3783 non-null   object
 1   author          3155 non-null   object
 2   published_date  3783 non-null   datetime64[ns]
 3   clean_url       3783 non-null   object
 4   excerpt         3745 non-null   object
 5   summary         3766 non-null   object
 6   rank            3783 non-null   int64
 7   topic           3783 non-null   object
 8   country         3783 non-null   object
 9   language        3697 non-null   object
 10  media           3750 non-null   object
 11  is_opinion      3783 non-null   bool
 12  _score          3783 non-null   float64
 13  _id             3783 non-null   object
 14  date            3783 non-null   object
dtypes: bool(1), datetime64[ns](1), float64(1), int64(1), object(11)
memory usage: 447.0+ KB

In [8]:
clean_df.describe()

                rank       _score
count    3783.000000  3783.000000
mean    57920.822892    17.523046
std    123015.335234     2.326599
min         1.000000    13.270316
25%      2377.000000    15.834440
50%      8608.000000    17.427560
75%     49504.500000    18.894077
max    990466.000000    25.816708

In [9]:
clean_df.to_csv("data/clean_dataset.csv")
clean_df.to_csv("dashboard/data/clean_dataset.csv")

## Geo Locations

In [10]:
from geopy.geocoders import Nominatim

In [11]:
geolocator = Nominatim(user_agent="MyApp")

def geolocate(country):
    try:
        loc = geolocator.geocode(country)
        return loc.latitude, loc.longitude
    except:
        return np.nan, np.nan

In [18]:
clean_df

,title,author,published_date,clean_url,excerpt,summary,rank,topic,country,language,media,is_opinion,_score,_id,date
0,(Video) Iran's uprising begins 41st day with e...,Ein News,2022-10-27 14:28:31,einnews.com,"NCRI President Maryam Rajavi, ""The clerical re...","NCRI President Maryam Rajavi, ""The clerical re...",3825,world,UA,en,https://img.einnews.com/ampsize/375826/27-10-2...,False,20.579384,1c32bf5c17f0f8de4ad66457e0ed9efb,2022-10-27
1,"Iran News in Brief – October 27, 2022",Sedighe Shahrokhi,2022-10-27 07:36:54,ncr-iran.org,THIS PAGE WILL BE UPDATED WITH THE LATEST NEWS...,UPDATE: 9:30 AM CEST\nIran: Massive Crowd in S...,47607,news,US,en,https://www.ncr-iran.org/en/wp-content/uploads...,False,20.546808,a6b19ac0384c8b8abc39aff4237949e1,2022-10-27
2,Iran seeks to designate UK-based Persian media...,NaN,2022-10-24 13:43:00,middleeastmonitor.com,Iran has called for the designation of UK-base...,"October 24, 2022 at 1:43 pm \n Iran has called...",7610,news,GB,en,https://i0.wp.com/www.middleeastmonitor.com/wp...,False,20.543528,0ec0f51f778a2e2e2f7ff00403b54c60,2022-10-24
5,Turmoil In Iran Continues As Protests At Unive...,NaN,2022-10-24 00:00:00,menafn.com,"BAKU, Azerbaijan, October 24. Protests in Iran...","BAKU, Azerbaijan, October 24. Protests in Iran...",6165,news,US,en,https://menafn.com/updates/pr/2022-10/24/TNA_e...,False,20.425362,0c4d6a410588a1cf5cedc8e3e8e41968,2022-10-24
6,Secretary-General Strongly Condemns Terrorist ...,UN Secretary-General,2022-10-27 21:01:53,reliefweb.int,News and Press Release in English on Iran (Isl...,Iran Plan International condemns human rights ...,1994,news,LR,en,https://reliefweb.int/modules/custom/reliefweb...,False,20.394646,1a3745929971ec458f199ce83a2f557c,2022-10-27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11030,Lo que el velo esconde,Luis Negro Marco,2022-10-24 05:01:04,elperiodicodearagon.com,"Desde el año 2014, las mujeres iraníes denunci...","Hijab, palabra de raíz árabe, puede traducirse...",23996,news,ES,es,https://www.elperiodicodearagon.com/images/og-...,True,13.278788,3eb5d755b01cbe09d89cf13d6546690b,2022-10-24
11033,Le serveur de messagerie électronique de l'org...,Agence France-Presse,2022-10-23 13:59:54,lapresse.ca,L'Organisation iranienne de l'énergie atomique...,(Téhéran) L'Organisation iranienne de l'énergi...,3804,world,CA,af,https://mobile-img.lpcdn.ca/v2/924x/r3996/0121...,False,13.276352,33518110308797f49917a0fdb69661f8,2022-10-23
11041,Spanish man missing on trek to World Cup belie...,PA Media,2022-10-26 10:49:47,dailymail.co.uk,Santiago Sanchez stopped contacting his family...,"By PA Media Published: 06:49 EDT, 26 October 2...",127,news,GB,en,https://i.dailymail.co.uk/1s/2022/10/26/11/wir...,False,13.272271,ce07ab4ba29d8d145733c0e53023c58d,2022-10-26
11044,ईरान: अमीनी की मौत के 40वें दिन सड़कों पर उतरे...,NaN,2022-10-27 06:31:37,news18.com,ईरान में महसा अमीनी की मौत (Death of Mahsa Ami...,अमीनी की मौत के 40वें दिन सड़कों पर उतरे हजारो...,2238,world,IN,hi,https://images.news18.com/ibnkhabar/uploads/20...,False,13.270502,01426b7b1f043a09af7a682375333ab3,2022-10-27
11045,Mehr als 300 Anklagen nach Protesten im Iran,tagesschau,2022-10-25 08:30:41,tagesschau.de,Im Iran droht einigen Demonstranten die Todess...,Im Iran droht einigen Demonstranten die Todess...,2248,news,DE,de,https://www.tagesschau.de/multimedia/bilder/ir...,False,13.270316,88836d3dae5c391b41b0484f69f64534,2022-10-25

In [12]:
countries = clean_df['country'].value_counts()
countries = countries.reset_index()

In [13]:
countries

    index  country
0      US      701
1      DE      347
2      FR      211
3      IT      205
4      GB      192
..    ...      ...
108    BY        1
109    PG        1
110    CI        1
111    GH        1
112    BH        1

[113 rows x 2 columns]

In [14]:
countries['latitude'], countries['longitude'] = zip(*countries['index'].apply(geolocate))
countries.dropna(subset=['latitude', 'longitude'], how="any", inplace=True)

In [25]:
countries.rename(columns={'index': 'country_name',
                    'country': 'news_num'}, inplace=True)

In [27]:
countries

    country_name  news_num   latitude   longitude
0             US       701  39.783730 -100.445882
1             DE       347  51.163818   10.447831
2             FR       211  46.603354    1.888334
3             IT       205  42.638426   12.674297
4             GB       192  54.702354   -3.276575
..           ...       ...        ...         ...
108           BY         1  53.425061   27.697136
109           PG         1  -5.681607  144.248908
110           CI         1   7.989737   -5.567946
111           GH         1   8.030028   -1.080027
112           BH         1  44.305348   17.596147

[112 rows x 4 columns]

In [26]:
countries.to_csv("data/geolocations.csv", index=False)
countries.to_csv("dashboard/data/geolocations.csv", index=False)